<!-- {{ nomeControl.dirty }}
{{ nomeControl.pristine }}

{{ nomeControl.touched }}
{{ nomeControl.untouched }}

{{ nomeControl.valid }}
{{ nomeControl.invalid }}

{{ nomeControl.errors }}

{{ nomeControl.value }} 

{{ this.pessoaFormGroup.value | json }}

-->

<div [formGroup]="pessoaFormGroup">
  <div class="col">
    <input
      formControlName="nome"
      [class.is-valid]="
        pessoaFormGroup.get('nome').dirty && pessoaFormGroup.get('nome').valid
      "
      [class.is-invalid]="
        pessoaFormGroup.get('nome').dirty && pessoaFormGroup.get('nome').invalid
      "
      type="text"
      class="form-control"
      placeholder="Nome"
    />
    <div class="invalid-feedback">
      {{ getErrorMessage(pessoaFormGroup.get('nome')) }}
    </div>
    <div class="valid-feedback">Tudo certo!</div>
  </div>

  <div class="col mt-3 mb-3">
    <input
      formControlName="idade"
      [class.is-valid]="
        pessoaFormGroup.get('idade').dirty && pessoaFormGroup.get('idade').valid
      "
      [class.is-invalid]="
        pessoaFormGroup.get('idade').dirty &&
        pessoaFormGroup.get('idade').invalid
      "
      type="number"
      class="form-control"
      placeholder="Idade"
    />
    <div class="invalid-feedback">
      {{ getErrorMessage(pessoaFormGroup.get('idade')) }}
    </div>
    <div class="valid-feedback">Tudo certo!</div>
  </div>
</div>

<div class="d-flex flex-row mb-3">
  <button
    (click)="adicionar()"
    type="button"
    class="btn btn-primary"
    [disabled]="pessoaFormGroup.invalid"
  >
    <div
      *ngIf="buttonLoading"
      class="spinner-border spinner-border-sm text-dark"
    ></div>
    <span *ngIf="!buttonLoading"> Adicionar </span>
  </button>
</div>

<ul class="list-group">
  <li
    *ngFor="let pessoa of pessoas"
    class="list-group-item d-flex justify-content-between align-items-start"
    [class.active]="marcar && pessoa.nome.includes(marcar)"
  >
    {{ pessoa.nome }} - {{ pessoa.idade }} anos
    <button
      (click)="remover(pessoa._id)"
      type="button"
      class="btn-close"
      data-bs-dismiss="alert"
      aria-label="Close"
    ></button>
  </li>
</ul>
